body{
    margin: 0;
}
*{
    font-family: 'roboto', sans-serif;
}
.title{
    margin: 0;
}
.hero, .footer{
    background-color: #1F2937;
}

.hero{
    padding: 0 20%;
    display: flex;
    flex-direction: column;
}

.hero .header{
    display: flex;
    justify-content: space-between;
    margin: 16px;
}

.header ul{
    display: flex;
    gap: 24px;
    list-style: none;
}

.header > ul > li > a{
    text-decoration: none;
}

.header .logo{
    color: #F9FAF8;
    font-weight: 600;
    font-size: 24px;
}

.hero .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 100px 0;
}

.hero .content .left-text{
    flex: 0 1 40%;
}

.hero .content .left-text .title{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.sign-up{
    color:#F9FAF8;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    margin: 12px 0;
    border-radius: 10px;
    padding: 12px 48px;
    background-color: #3882F6;
}

.call .sign-up{
    border: 2px solid white;
}

.hero .content .left-text .subtext, 
.hero .header ul li a{
    font-size: 18px;
    color: #E5E7EB;
}

.hero .content .image{
    background-color: lightgrey;
    flex: 0 0 50%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 128px;
}

.info .title{
    color: #1F2937;
    font-size: 36px; 
    font-weight: 700;
    margin: 48px;
}

.info .items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}

.info .item{
    flex: 0 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.info .item .image{
    border-radius: 10px;
    flex: 1 0 auto;
    width: 150px;
    aspect-ratio: 1/1;
    border: 3px solid #3882F6;
}

.info .item .subtext{
    text-align: center;
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 128px 0;

}

.quote .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
}

.quote .content .text{
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    flex: 0 1 auto;
}

.quote .content .cited-person{
    align-self: flex-end;
    font-size: 24px;
    font-weight: 500;
}

.call{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 128px auto;
}

.call .content{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 48px;
}

.call .content .left-text{
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

.call .content .left-text .title{
    font-size: 24px;
    font-weight: 700;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    font-size: 18px;
    padding: 32px;
}